@model EntityLayer.Concrete.PetAge
@{
    ViewData["Title"] = "EditAge";
    Layout = "~/Views/Shared/Layouts/_AdminLayout.cshtml";
}

<h6>Düzenle</h6>

<form method="post" class="form-group">


    <input class="form-control" asp-for="PetAgeId" hidden />
    <label>Yaş </label>
    <input asp-for="Age" class="form-control" />
    <br />
    <input class="btn btn-danger" value="Düzenle" type="submit" />
</form>
